*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* con esta propiedad establecemos que el objeto no afecte su tamaño independiente de las propiedades que se definan, por ejemplo un padding*/
}

body{
    font-family: 'Josefin Sans', sans-serif;
    background-color: #337ab7;
    color: white;
    font-size: 16px;
}

.principal{
    margin-top: 80px;
    text-align: center; /*Centra el contenido */
}

.formContact{
    width: 400px;
    margin: 0px auto;   /*Centra el elemento en el contenedor html */
    margin-top: 20px;
}

.camposForm{
   margin-bottom: 20px;
   display: flex;
   flex-direction: column;
}

div.camposForm>label{
    margin-bottom: 10px;
}

div.camposForm>input{
    padding: 1em;
    height: 40px;
    border-radius: 10px;
    border: 1px solid black;
}

.alert{
    background-color:rgba(248, 170, 170, 0.61);
}

.mensajeAlerta{
    color:red;
    margin-top: 10px;
}

input[type=submit],
input[type=reset]{
    padding: 1em;
    background-color:#d15f00;
    color: white;
    border: none;
    margin: 2px;
    cursor: pointer;
    font-family: 'Dosis', sans-serif;
}

.button-redondo{
    border-radius: 10px;
    width: 100px;
    font-size: 14px;
}

input[type=reset].resetear{
    background-color: black;
}